.wrapper {
    width:100%;
}

.wrapper h3 {
    color:rgb(100 100 100 / 90%);
}

.wrapper .bar {
    width: 0%;
    height: 5px;
    background: linear-gradient(to right,rgb(51 253 93),rgb(71 185 236),rgb(42 147 245),rgb(41 168 222),rgb(120 56 179),rgb(234 34 70));
    border-radius: 12px;
    animation: loading 1s ease-in-out forwards;
}
  
@keyframes loading {
    to {
        width:100%;
    }
}